src/main/webapp/wsdl/DiasSOAP.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://util.gabrielqueiroz.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://util.gabrielqueiroz.com" xmlns:intf="http://util.gabrielqueiroz.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://util.gabrielqueiroz.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="diasWebService">
    <complexType>
     <sequence>
      <element name="dia" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="diasWebServiceResponse">
    <complexType>
     <sequence>
      <element name="diasWebServiceReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="proximDiaWebSerivce">
    <complexType/>
   </element>
   <element name="proximDiaWebSerivceResponse">
    <complexType>
     <sequence>
      <element name="proximDiaWebSerivceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="proximDiaWebSerivceRequest">

      <wsdl:part element="impl:proximDiaWebSerivce" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="proximDiaWebSerivceResponse">

      <wsdl:part element="impl:proximDiaWebSerivceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="diasWebServiceRequest">

      <wsdl:part element="impl:diasWebService" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="diasWebServiceResponse">

      <wsdl:part element="impl:diasWebServiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="DiasSOAP">

      <wsdl:operation name="diasWebService">

         <wsdl:input message="impl:diasWebServiceRequest" name="diasWebServiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:diasWebServiceResponse" name="diasWebServiceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="proximDiaWebSerivce">

         <wsdl:input message="impl:proximDiaWebSerivceRequest" name="proximDiaWebSerivceRequest">

       </wsdl:input>

         <wsdl:output message="impl:proximDiaWebSerivceResponse" name="proximDiaWebSerivceResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="DiasSOAPSoapBinding" type="impl:DiasSOAP">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="diasWebService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="diasWebServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="diasWebServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="proximDiaWebSerivce">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="proximDiaWebSerivceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="proximDiaWebSerivceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="DiasSOAPService">

      <wsdl:port binding="impl:DiasSOAPSoapBinding" name="DiasSOAP">

         <wsdlsoap:address location="http://localhost:8080/vectorx/services/DiasSOAP"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
